trained_model/model.pth filter=lfs diff=lfs merge=lfs -text
trained_model/label_encoder.pkl filter=lfs diff=lfs merge=lfs -text
trained_model/personality_model.pkl filter=lfs diff=lfs merge=lfs -text
