# Mengabaikan folder model dan dataset agar tidak berat
base_model/
dataset_model/
# trained_model/
venv/
venev/

__pycache__/

# Mengabaikan file spesifik model dan encoder
*.bin
*.h5
*.safetensors
*.pth
*.pkl
*.ot
*.msgpack

# Mengabaikan dataset
*.csv

.env